body{
	background:url(../img/menuBG.jpg);
	width: 100%;
}


#mainMenu{

	width: 400px;
	background-color: #181818;
	border-radius: 5px;
	color: white;
	text-align: center;
	margin: 0 auto;
	padding: 2%;
	margin-top: 6%;
	opacity: 0.9;
	box-shadow: 0 0 60px white;
	font-family: comic sans MS;
}

#mainMenu a{
	display:block;
	position:relative;
	text-decoration: none;
	padding: 2%;
	text-align: center;
	width:200px;
	background-color: #210606;
	border-radius: 10px;
	margin: :2%;
	color:#ccccd2;
	opacity: 1;
	border:1px solid #212434;
}

#mainMenu a:hover{
	display:block;
	position:relative;
	text-decoration: none;
	padding: 2%;
	text-align: center;
	width:200px;
	background-color: #1c0808;
	color: white;
	margin: :2%;
	box-shadow: 0 0 20px #2f334e;
}

#Instructions{

	width: 45%;
	background-color: #181818;
	border-radius: 5px;
	color: white;
	text-align: center;
	margin: 0 auto;
	padding: 2%;
	margin-top: 3%;
	opacity: 0.9;
	box-shadow: 0 0 60px white;
	font-family: comic sans MS;
	font-size: 15px;
}

#Instructions a{
	display:block;
	position:relative;
	text-decoration: none;
	padding: 2%;
	text-align: center;
	width:200px;
	background-color: #210606;
	border-radius: 10px;
	margin: :2%;
	color:#ccccd2;
	opacity: 1;
	border:1px solid #212434;
}

#Instructions a:hover{
	display:block;
	position:relative;
	text-decoration: none;
	padding: 2%;
	text-align: center;
	width:200px;
	background-color: #1c0808;
	color: white;
	margin: :2%;
	box-shadow: 0 0 20px #2f334e;
}


#read{

	width: 45%;
	background-color: #181818;
	border-radius: 5px;
	color: white;
	
	margin: 0 auto;
	padding: 2%;
	margin-top: 3%;
	opacity: 0.9;
	box-shadow: 0 0 60px white;
	font-family: comic sans MS;
	font-size: 15px;
}

#read a{
	display:block;
	position:relative;
	text-decoration: none;
	padding: 2%;
	text-align: center;
	width:200px;
	background-color: #210606;
	border-radius: 10px;
	margin: :2%;
	color:#ccccd2;
	opacity: 1;
	border:1px solid #212434;
}

#read a:hover{
	display:block;
	position:relative;
	text-decoration: none;
	padding: 2%;
	text-align: center;
	width:200px;
	background-color: #1c0808;
	color: white;
	margin: :2%;
	box-shadow: 0 0 20px #2f334e;
}

#footer{
	position: absolute;;
	background-color: #0e0d0d;
	color: #5c5a5a;
	text-align: center;
	display: block;
	margin-top: 7%;
	margin-bottom: 0px;
	width: 100%;
	padding: 1.3%;
	font-family: Agency FB;
	font-size: 22px;
}